<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="header-inner">
        <!-- logo -->
        <div class="logo-header">
          <img src="../../assets/logo.png" alt="logo" />
        </div>

        <!-- menu -->
        <div class="list-header">
          <div><a href="#">about us</a></div>
          <div><a href="#"></a>our services</a></div>
          <div><a href="#"></a>verticals</a></div>
          <div><a href="#"></a>partners</a></div>
          <div><a href="#"></a>clients</a></div>
          <div><a href="#">get in touch</a></div>
        </div>

        <!-- phone -->
        <div class="phone-header">
          <img src="../../assets/logo/phone.png" alt="phone-icon" />
          <p class="number">+91 99714 66668</p>
        </div>
      </div>
      <div class="header-content">
        <div>We help leaders grow their businesses for a brighter future</div>
        <p>Customers worldwide rely on our innovative solutions and services to meet their most essential needs and overcome their biggest challenges in various settings.</p>
        <div>
          <button>Explore our services</button>
          <button>Get in touch</button>
      </div>
      </div>
      <div class="header-footer">SCROLL DOWN</div>
    </header>
    <main class="main-content">
       <main class="main-content">
  <div class="main-content-block">
    <!-- First block with the background number -->
    <section class="first__block-number">
      <img src="../../assets/numbers__svg/01.png" alt="zero-one" />
    </section>

    <!-- Second block with grey background -->
    <section class="second__block-grey"></section>

    <!-- New overlay block -->
    <div class="overlay-block">
      <div class="overlay-item"></div>
      <div class="overlay-item">
        <p class="overtlay-item title">ABOUT US</p>
        <h2>Our sole focus is to help companies navigate complex Indian market</h2>
        <p class="overtlay-item text">At TEENAN21, We work with Technlogy companies to provide innovative & integrated solutions to enable a successful entry and expansion in India. We bring innovative ideas in Product Development, Technology Transfer, and Consulting to achieve cutting edge and way ahead of the competition.</p>
        <div>
          <a href="#" class="overtlay-item link">find out more
          <img src="../../assets/logo/Icon.png"/></a>
        </div>
      </div>
    </div>
  </div>
</main>
 
    </main>
  </body>
</html>
