<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="header-inner">
        <!-- logo -->
        <div class="logo-header">
          <img src="../../assets/logo.png" alt="logo" />
        </div>

        <!-- menu -->
        <div class="list-header">
          <div><a href="#">about us</a></div>
          <div><a href="#"></a>our services</a></div>
          <div><a href="#"></a>verticals</a></div>
          <div><a href="#"></a>partners</a></div>
          <div><a href="#"></a>clients</a></div>
          <div><a href="#">get in touch</a></div>
        </div>

        <!-- phone -->
        <div class="phone-header">
          <img src="../../assets/logo/phone.png" alt="phone-icon" />
          <p class="number">+91 99714 66668</p>
        </div>
      </div>
    </header>
  </body>
</html>
