<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="header-inner">
        <!-- Логотип -->
        <div class="logo-header">
          <img src="../../assets/logo.png" alt="logo" />
        </div>

        <!-- Список меню -->
        <div class="list-header">
          <div>about us</div>
          <div>our services</div>
          <div>verticals</div>
          <div>partners</div>
          <div>clients</div>
          <div>get in touch</div>
        </div>

        <!-- Телефон -->
        <div class="phone-header">
          <img src="../../assets/logo/phone.png" alt="phone-icon" />
          <p class="number">+91 99714 66668</p>
        </div>
      </div>
    </header>
  </body>
</html>
